body{
	background-color: #4d4d4d;
	margin: 0;
}
.titulo-header > h1{
	color: #264d00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.titulo-header > h1 ~ p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #1a3300;
}
.titulo-header {
	position: absolute;
	text-align: center;
	margin-top: 15px;
	margin-left: 35%;
}
.arrow-go-down{
	color: black;
	font-size: 3.5em;
}
/* Gallery */
.mySlides {
	display: none;
}
.flow{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.flow img {
	display: flex;
	width: 100%;
	height: auto;
	flex-grow: 2;
}
.dot {
	cursor: pointer;
	height: 30px;
	width: 30px;
	background-color: #bbb;
	border-radius: 50%;
	display: flex;
	transition: background-color 0.6s ease;
	margin: 0.5em;
}
.active, .dot:hover {
	background-color: #264d00;
	border: 3px solid;
	border-color: blanchedalmond;
}  
.slideBox{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60px;
	background-color: hsl(0, 0%, 25%);
	opacity: 0.9;
	z-index: 1;
	margin-top: -3.7em;
	width: 100%;
	flex-grow: 2;
}
@media only screen and (max-width: 700px){
	.titulo-header {
		position: relative;
		text-align: center;
		justify-content: justify;
		margin-left: 5px;
		margin-bottom: 2em;
	}
	.titulo-header > h1{
		color: #fff;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-size: 15px;
	}
	.titulo-header > h1 ~ p {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		padding: 0 7px 2px 7px;
	}
}
/* Main Section - Gallery 3 of 9 */
main > div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 40px;
}
.main-container{
	padding: 0 2em 0 2em;
	margin: 3em;
	display: flex;
	text-align: center;	
	justify-content: space-around;
	flex-direction: row;
	min-height: 400px;
}
.main-container img{
    width: 20%;
    border-style: solid;
	border-width: 6px;
    border-color: #808080;
    margin: 0.5em;
}
.mySlides2 {
    display: none;
	flex-direction: row;
	justify-content: space-around;
	overflow-x: hidden;
}
.img-text-box{
	margin: 0;
	padding: 0;
}

.text-margin{
	width: 15%;
}
.prev,
.next{
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 50px;
    user-select: none;
    margin-top: 6%;
}
.next{
	right: 1em;
}
.prev{
	left: 1em;
}
.prev:hover, .next:hover {
        color: #15402f;
}
.text {
    font-size: 12px;
    position: absolute;
    width: 20%;
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
    margin-left: 9%;
  }
.text2 {
    font-size: 12px;
    position: absolute;
    width: 20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
	margin-left: 33%;
	color: white;
}
.text3 {
    font-size: 12px;
    position: absolute;
    width: 20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
	margin-left: 57.5%;
	color: white;
}
.dotz {
  display: none;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* Slide Gallery */
@media only screen and (max-width: 700px){
	main > div {
		flex-wrap: wrap;
		margin-top: 18px;
	}
	main > div .text {
		font-size: 11px;
		width: 85%;
	}

}

/* Circular Section */
.second-mainContainer{
	background-color: #808080;
	padding: 3em 8em 3em 8em;
}

.second-mainContainer > .circle-image > img{
	border-style: solid;
	border-width: 10px;
	border-radius: 50%;
	border-color: #333333;
	height: 240px;
	width: 240px;
}

.second-mainContainer > .bigText {
	text-align: justify;
	color: #fff;
	font-size: 13px;
	padding-left: 50px;
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 700px){
	.second-mainContainer > .bigText h3{
		text-align: center;
		font-size: 15px;
		padding: 0px;
	}
	.second-mainContainer > .bigText {
		text-align: center;
		font-size: 13px;
		padding-left: 0px;
		color: white;
	}
}
/* Bottom Gallery*/
.last-mainContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: hsl(0, 0%, 70%);
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 3em;
	margin-top: 0;
}
#open-gallery{
	width: 100%;
}
.top-border-box{
	height: 15px;
	width: 76.5%;
	padding: 1.5em;
	margin-right: 35%;
	margin-left: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: hsl(0, 0%, 40%);
	border-bottom: 1px solid;
	border-color: whitesmoke;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
}
.first-gallery{
	margin-top: 3em;
}
.invert{
	font-size: 25px;
	filter: brightness(0) invert(1);
	margin-top: -2px;
	font-weight: lighter;
}
h3{
	font-size:  14px;
	color: white;
	margin-top: -1px;
}
.imagens-peq img{
	width: 70%;
    border-style: solid;
	border-width: 6px;
    border-color: #808080;
    margin: 0.5em;
}
.vertical-gallery{
	background-color: white;
	width: 81%;
	min-height: 50%;
	margin-right: 35%;
	margin-left: 10%;
	padding-bottom: 2em;
}
.display-gallery-title{
	height: 15px;
	background-color: transparent;
	padding: 1.5em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.display-gallery-title > i{
	font-size: 25px;
	font-weight: lighter;
}
h4{
	color: hsl(0, 0%, 40%);
	font-size:  14px;
	margin-top: -1px;
}
.gallery-content{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.left-side{
	width: 40%;
	padding-left: 1.5em;
}
.right-side{
	width: 60%;
	padding-right: 5em;
}
.right-side > p {
	color: hsl(0, 0%, 40%);
	font-size: 14px;
}
.hidden {
	display: none;
}
#open-second-gallery{
	width: 100%;
}
#open-third-gallery{
	width: 100%;
}
#open-fourth-gallery{
	width: 100%;
}
.border-bottom{
	border-radius: 5px;
}
@media only screen and (max-width: 700px){
	.vertical-gallery{
		width: 86.5%;
	}
}
/* Formulário at the bottom */
.form-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(161deg, #808080 50%, #4d4d4d 50%);
	margin: 0;
}
form{
	margin: 3em 8em 3em 8em;
}
.sign-up{
	width: 100%;
}
form input{
	border-radius: 5px;
	border: none;
	background-color: hsl(0, 0%, 70%);
}
form input[type=text]{
	width: 78%;
	height: 35px;
	padding-left: 2em;
	margin-left: 10%;
}
.middle-form{
	padding: 1em 1em;
}
form input[type=email]{
	width: 35%;
	height: 35px;
	padding-left: 2em;
	margin-left: 9%;
}
form input[type=tel]{
	width: 41%;
	height: 35px;
	padding-left: 2em;
	margin-left: 1em;
	margin-right: 9%;
}
input[type=textarea]{
	width: 78%;
	height: 150px;
	padding-left: 2em;
	margin-left: 10%;
	padding-top: 0;
}
.button{
	display: flex;
	text-align: center;
	justify-content: center;
}
button{
	margin: 2em 3em;
	border: 1px solid white;
	background-color: white;
	border-radius: 5px;
	height: 35px;
	width: 90px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	font-size: 12px;
}
@media only screen and (max-width: 700px){
	form{
		display: none;
	}
}
/* The end of Form - Footer */
footer{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	text-align: center;
	justify-content: center;
	color: white;
	height: 50px;
	padding: 0.5em;
	font-weight: bold;
	background-color: hsl(0, 1%, 25%);
}
