/* Circular Photo and Paragraph Section */
div.second-mainContainer{
	background-color: var(--medium-gray);
	padding: 2em 5em 1em;
	display: flex;
	justify-content: space-around;
}
div.second-mainContainer img{
	border-style: solid;
	border-width: 10px;
	border-radius: 50%;
	border-color: var(--half-dark);
	height: 300px;
	width: 300px;
}
div.second-mainContainer .text > h3{
    font-size: 20px;
    color: var(--bright);
    margin: 1em 2em 1em;
}
div.second-mainContainer .text p {
	text-align: justify;
	color: var(--bright);
	font-size: 13px;
    margin: 1em 1em 0 3.2em;
}
div.second-mainContainer .text p:last-child{
    margin-bottom: 1em;
}
