/* Slide Gallery: three of nine */
div.slides-show{
    margin-bottom: 2em;
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center; /* for the left and right arrows align */
}
div.container{
    width: 100%;
    height: auto;
    margin: 3em 3em 3em 6em; 
}
div.container div.slide{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
div.slide div.content{
    margin-left: 1em;
    width: 100%;
}
div.slide h2, p{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    color: var(--bright);
    text-align: center;
    margin-left: 3em;
}
div.slide p{
    font-size: 15px;
    margin-left: 5em;
}
div.slide img{
    width: 100%;
    height: 50%;
    border: 8px solid var(--medium-gray);
    margin: 2em 2em 1em;
}
/* left and right arrows */
div .left,
div .right{
    position: absolute;
    cursor: pointer;
    color: var(--bright);
    border-radius: 0 5px 5px 0;
    font-size: 35px;
    user-select: none;
    margin-top: -3em;
}
div .right{
    right: 1em;
    float: right;
}
div .left{
    left: 1em;
    float: left;
}
div .left:hover, .right:hover {
    color: var(--half-dark);
    text-shadow: 0.5px 0.5px 5px var(--lighter-gray);
}
.active, .dot:hover {
    background-color: #717171;
}
/* same in the top slider */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.dotx{
    display: none;
}
